body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.one {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.one-content {
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.one-body {
    display: flex;
    height: 200px;
    justify-content: center;
    gap: 30px;
}

.one-description {
    max-width: 400px;
}

.h-name {
    font-size: 24px;
    color: #F9FAF8
}
.one-descr-top {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.one-descr-mid {
    font-size: 18px;
    color: #E5E7EB;
}

.one-button {
    background-color: #3883F6;
    color: white;
    text-align: center;
    width: 90px;
    padding: 5px;
}
/*end section one*/

.two {
    text-align: center;
    height: 300px;
}

.two-title {
    margin: 10px 0;
    font-size: 36px;
    font-weight: bolder;
}

.two-content {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.duckling {
    height: 150px;
}

.text {
    flex-wrap: wrap;
    max-width: 150px;
}

/*end section two*/

.three {
    display: flex;
    flex: 1 0 1;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.three-content {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.quote {

}

.author {
    align-self: flex-end;
    margin-right: 40px;
}

    /* end of section three */

.four {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: red;
}

.footer {
    display: flex;
    flex: 1;
    background: yellow;
}