body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    min-height: 100vh;
}

.one {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.one-content {
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.one-body {
    display: flex;
    height: 200px;
    justify-content: center;
    gap: 30px;
    padding: 15px;
}

.one-description {
    max-width: 400px;
}

.h-name {
    font-size: 24px;
    color: #F9FAF8
}
.one-descr-top {
    font-size: 42px;
    font-weight: bolder;
    color: #F9FAF8;
}

.one-descr-mid {
    font-size: 18px;
    color: #E5E7EB;
}

.one-button {
    border-radius: 5px;
    background-color: #3883F6;
    color: white;
    text-align: center;
    width: 90px;
    padding: 5px;
}
/*end section one*/

.two {
    text-align: center;
    height: 300px;
}

.two-title {
    margin: 10px 0;
    font-size: 36px;
    font-weight: bolder;
}

.two-content {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.duckling {
    height: 125px;
    border-radius: 10px;
    border: 2px solid #3883F6;
}

.text {
    flex-wrap: wrap;
    max-width: 150px;
    margin-bottom: 10px;
}

/*end section two*/

.three {
    display: flex;
    flex: 1 0 1;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #E5E7EB;
    padding: 20px;
}

.three-content {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.quote {
    font-size: 24px;
    font-style: italic;

}

.author {
    align-self: flex-end;
    margin-right: 40px;
}

    /* end of section three */

.four {
    display: flex;
    flex: 1 0 1;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.four-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3883F6;
    padding: 30px 40px;
    width: 700px;
    margin: 40px;
    border-radius: 5px;
    color: white;
}

.four-top {
    font-size: 18px;
    font-weight: 900;
}

.four-bottom {

}

.four-button {
    border-radius: 5px;
    border: 2px solid white;
    padding: 4px 10px;
}

/* end of section four */

.footer {
    display: flex;
    flex: 1;
    background: #1F2937;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 8px;
    font-size: 12px;
}